/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.RandomNumberGenerator-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  padding: 10px;
}

.RandomNumberGenerator-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffffff;
  background-size: cover;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbf;
  margin: 10px;
  padding: 10px;
  border: none;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #0b69ff;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
}

.button {
  background-color: #0b69ff;
  background-size: cover;
  height: 80px;
  width: 150px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  outline: none
}

.Number {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #0b69ff;
  font-weight: bold;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
}
